/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Case Problem 1

   Robert Frost Style Sheet

   Filename:         poetry.css
   Supporting Files: 

*/

/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}


/* Set the default page element styles */

body * {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 100%;
   font-weight: inherit;
   line-height: 1.2em;
   list-style: none;
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   vertical-align: baseline;
}



/* Body Styles */
body {
   background: rgb(247, 247, 247) url(rfback.png) top left no-repeat;
   width: 95%;
   min-width: 1000px;
   max-width: 1200px;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   margin: 0px auto;
}

nav {
   width: 100%;
}

nav li {
   width: 25%;
   float: left;
   text-align: center;
   background-color: rgb(102, 102, 102);
}

nav li a {
   text-decoration: none;
   font-size: 0.8em;
   color: white;
}  


header {
   border-bottom: 1px solid black;
   clear: both;
   text-align: right;
}

figure {
   float: left;
}

section#main {
   float: left;
   width: 60%;
   margin-top: 20px;
}
figure {
   background-color: rgb(102, 102, 102);
   width: 350px;
   text-align: center;
   border: 1px solid rgb(51, 51, 51);
   padding: 20px 0px;
   margin: 20px 20px;
}

figure figcaption {
   font-size: 0.8em;
   color: white;
}

section p {
   margin: 0px 0px 20px 0px;
}

section#main p:first-of-type:first-letter {
   font-size: 4em;
   float: left;
   margin: 15px 5px 5px 0px;
   font-family: "Times New Roman", serif;
}



section.poem {
   width: 45%;
   clear: none;
   float: left;
   padding-left: 10px;
}

section.poem h2 {
   font-size: 1.4em;
   letter-spacing: 7px;
   font-weight: normal;
   margin-bottom: 10px;
}


section.poem:first-of-type {
   border-right: 1px solid black;
}
 
