/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 1

   History Style Sheet
   Author: Jiaju Shen
   Date:   3/8/2014
   
   Filename: history.css
   Supporting Files: 

*/

/* Display HTML5 structural elements as blocks */

   header, section, nav {
      display: blocks;
   }

/* Styles for the Page Body */

   body {
      margin: 0px;
      padding: 0px;
      background-color: rgb(51, 51, 51);
   }
* {
   padding: 0px;
   margin: 0px;
}

/* Styles for the Page Header */

header {
   background-color: rgb(51, 51, 51);
   text-align: center;
   width: 55em;
}

header img {
   height: 4em;
}

/* Navigation lists */

   nav {
      float: left;
      width: 15em;
      background-color: rgb(51, 51, 51);
   }

nav li {
   font-family: 'Century Gothic', sans-serif;
   font-size: 0.7em;
   line-height: 1.4em;
   list-style-type: none;
   margin-left: 1em;
   margin-bottom: 1.2em;
}

nav li a {
   color: rgb(212, 212, 212);
   text-decoration: none;
}

nav li a:hover {
   color: white;
}

/* Speech */

   #speech {
      background-color: rgb(212, 212, 212);
      width: 40em;
      float: left;
      font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
   }

   #speech h1 {
      background-color: rgb(51, 51, 51);
      color: rgb(212, 212, 212);
      font-size: 2em;
      text-align: center;
   }

   #speech p {
      font-size: 0.9em;
      margin: 1em;
   }

   #speech p:first-of-type:first-letter {
      float: left;
      font-size: 4em;
      line-height: 0.8em;
      margin-right: 0.3em;
      padding-right: 0.2em;
      padding-bottom: 0.2em;
      border-right: 0.02em solid;
      border-bottom: 0.02em solid;
   }

   #speech p:first-of-type:first-line {
      text-transform: uppercase;
   }

   #speech img {
      clear: right;
      float: right;
      height: 4em;
   }