/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Tutorial Case

   Cycle Pathology Styles to Reset Style Defaults
   Author: 
   Date:   

   Filename:         cp_reset.css
   Supporting Files: none

*/


/* display HTML 5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, section, nav 
	{ 

		display:  block;

	}

/* set the default page elelment styles */

	body *  {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 100%;
		font-weight: inherit;
		line-height: 1.2em;
		list-styles: none;
		margin: 0px;
		padding: 0px;
		vertical-align: baseline;

	}

/* temporarily hide the page sectins  */


   header, aside, footer 

 {
	display: none;

}