/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Survey Forms Style Sheet
   Author: Jiaju Shen	
   Date:  4/9/2014 

   Filename:         forms.css
   Supporting Files: customer.png, go.png, stop.png

*/


